.idea
.idea/*
.idea/workspace.xml
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
test/
*/test/
*.log
conf/local.yml
conf/production.yml
cli/cli
production_build.sh
local/
test_local.go
log-files/
test.db
conf/production.yml
build
